body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      color: aliceblue;
      background-color: rgb(32, 33, 36);
      
  }
.naw-bar-block{
display: flex;
}

.container {
  /* width: 1024px; */
  padding: 20px;
}

img {
  width: 500px;
}

.logo {
  width: 40px;
}

.inputttt {
  width: 15rem;
}

.privetBlock {
  display: inline-block;
}

.test {
  float: right;
}


  